# compiled output
.vscode

# git
.git/
.gitignore

# docker
Dockerfile
docker-compose.yml

# github
.github/

# dependencies
/fe/.DS_*
/fe/*.log
/fe/logs
/fe/**/*.backup.*
/fe/**/*.back.*
/fe/node_modules
