REACT_APP_BASE_URL=http://localhost:8000
ENVIRONMENT=dev
ALLOWED_URLS=https://back-office.my.id,https://www.khairunnaufal-hanif.fyi
JWT_SECRET=secret

MONGO_DB_HOST=mongodb
MONGO_DB_PORT=27017
MONGO_DB_USER=user
MONGO_DB_PASS=pass
MONGO_DB_NAME=customersdb
